<!DOCTYPE html>
<html lang= "en" ng-app="BestRest">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="bootstrap.min.css">
        <!-- <link rel="stylesheet" href="/css/master.css" media="screen" title="no title" charset="utf-8"> -->
        <script src="lib/angular.js"></script>
        <script src="app.js"></script>
        <script src="js/restaurantController.js"></script>

        <title>Best Restaurant</title>
    </head>
    <body>
        <div class="container" ng-controller="RestCtrl">
            <h1>Best Restaurant</h1>
            <input type="text" ng-model="query" placeholder="Find a Restaurant">


            <form ng-submit="addRestaurant()">
                <label for="restaurantName">Restaurant Name </label>
                <input type="text" ng-model="restaurantName">
                <button class ="btn">Go!</button>
            </form>
            <ul>
                <li ng-repeat="element in restaurant | filter:query">
                <span ng-hide="editing" ng-click="editing = true">
                    {{ element.name }} <a ng-click="deleteRestaurant(element)">Delete</a>
                </span>
                <form ng-show="editing" ng-submit="editing = false">
                    <input type="text" ng-model="element.name">
                </form>
                </li>
            </ul>
        </div>
    </body>
</html>
